@font-face {
    font-family: 'myFont';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'myFont';
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
}

.output {
    margin-top: 20px;
    white-space: pre-wrap;
}

.day-input {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.strength-container,
.wod-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

.strength-container input[type="number"],
.wod-container input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.wod-container select {
    width: 100%;
    margin-bottom: 10px;
}

.floating-buttons {
    position : fixed;
    top:10px;
    right: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    width: auto;
}

.floating-buttons button {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.floating-buttons button:hover {
    background-color: #555;
}

.btn-barbell {
    background-color: #1f77b4;
}

.btn-dumbbell {
    background-color: #9467bd;
}

.btn-wallball {
    background-color: #8c564b;
}

.btn-box {
    background-color: #bcbd22;
}

.autocomplete-suggestions {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: absolute;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.autocomplete-suggestions div {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-suggestions div:hover {
    background-color: #ddd;
}

textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
    resize: vertical;
}

textarea:focus {
    border-color: #1f77b4;
    outline: none;
}

.day-input label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.day-input input[type="text"] {
    width: calc(100% - 12px);
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
}

.add-day-button,
.remove-day-button,
.btn-generate-week,
.btn-generate-wod,
.btn-dropdown-day {
    display: inline;
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.add-day-button {
    background-color: #28a745;
    color: #fff;
}

.add-day-button:hover {
    background-color: #218838;
}

.remove-day-button {
    background-color: #dc3545;
    color: #fff;
}

.remove-day-button:hover {
    background-color: #c82333;
}

.btn-generate-week {
    background-color: #FFB2D9;
}

.btn-generate-week:hover {
    background-color: #5a6268;
}

.btn-generate-wod {
    background-color: #D1B2FF;
}

.btn-generate-wod:hover {
    background-color: #5a6268;
}

.btn-dropdown-day {
    background-color: #CEF279;
}

.btn-dropdown-day:hover {
    background-color: #5a6268;
}
